/* Computer */
.grid_1 { width: 6.5%; } 
.grid_2 { width: 15%; } 
.grid_3 { width: 23.5%; } 
.grid_4 { width: 32%; } 
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; } 
.grid_7 { width: 57.5%; } 
.grid_8 { width: 66%; } 
.grid_9 { width: 74.5%; } 
.grid_10 { width: 83%; } 
.grid_11 { width: 91.5%; } 
.grid_12 { width: 100%; } 

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 2% 1% 0;
	float: left;
	display: block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}
.delta{margin-bottom: 0;}

.container{
	width: 90%;
	max-width: 1120px;
	margin: auto;
}

.header-container {
	width: 90%;	
	margin: auto;
}
.lg-container {
	width: 95%;
	margin: auto;
}

/*offset*/
.col-offset-left-12 { margin-left: 100%; }
.col-offset-left-11 { margin-left: 91.66666667%; }
.col-offset-left-10 { margin-left: 83.33333333%; }
.col-offset-left-9 { margin-left: 75%; }
.col-offset-left-8 { margin-left: 66.66666667% !important; }
.col-offset-left-7 { margin-left: 58.33333333%; }
.col-offset-left-6 { margin-left: 50%; }
.col-offset-left-5 { margin-left: 41.66666667%; }
.col-offset-left-4 { margin-left: 33.33333333%; }
.col-offset-left-3 { margin-left: 25%; }
.col-offset-left-2 { margin-left: 16.66666667%; }
.col-offset-left-1 { margin-left: 8.33333333%; }
.col-offset-left-0 { margin-left: 0; }

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}




/* Mobile */
@media screen and (max-width : 768px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
	margin: 0 0 40px 0;
}

}