/*!
Theme Name: Val
Author: Queno Purificacion.

Description: A custom theme for VAL
Version: 0.1
*/
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
p {
  color: #61606e;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}
p a {
  color: #0076c0;
}
ul {
  margin-left: 20px;
  padding-left: 0px;
  margin-bottom: 20px;
}
ul li {
  color: #61606e;
  line-height: 30px;
  font-size: 18px;
}
h2 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 100;
  color: #0076c0;
  margin-bottom: 20px;
}
h3 {
  color: #0076c0;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 100;
}
h5 {
  margin-bottom: 20px;
}
h5 a {
  font-size: 18px;
  border: 3px solid #fff;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 13px 65px;
  text-decoration: none;
  font-weight: bold;
}
body {
  position: relative;
}
.white p,
.white h2,
.white h3,
.white h4,
.white h5 {
  color: #fff;
  margin-bottom: 20px;
}
.header-spacer {
  height: 110px;
  width: 100%;
  clear: both;
  display: none;
}
.header-spacer.active {
  display: block;
}
.aligncenter {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.btn-curve-white {
  border: 3px solid #fff;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 13px 65px;
  text-decoration: none;
  font-weight: bold;
}
.flexslider {
  border: 0px !important;
}
.flexslider .flex-direction-nav .flex-next {
  right: 0px;
}
.flexslider .flex-direction-nav .flex-prev {
  left: 0px;
}
.flexslider .flex-control-paging {
  display: none;
}
header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  z-index: 11;
}
header h1 {
  font-size: 30px;
  text-indent: 40px;
  font-weight: bold;
}
header .header-container {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  padding: 20px 0;
}
header.shrink {
  /*padding: 20px 0;	*/
  position: fixed;
  top: 0;
}
header.shrink .header-container {
  padding: 10px 0;
}
header ul#menu-main-menu {
  float: right;
}
header ul#menu-main-menu li {
  list-style: none;
}
header ul#menu-main-menu li a {
  color: #000;
  padding: 10px;
}
header ul#menu-main-menu li.menu-item.current-menu-item.current_page_item a {
  color: #0076c0;
}
.navigation ul li {
  display: inline-block;
  list-style: none;
}
section {
  width: 100% !important;
  display: block;
  clear: both;
  background-position: top center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}
section.scroll_banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
}
section.scroll_banner .masking {
  width: 100%;
  height: 100vh;
  opacity: .75;
}
section.scroll_banner .spacer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
section.scroll_banner .spacer img {
  margin-bottom: 23%;
}
section.content-thumbnail ul.container-list {
  text-align: center;
  padding-top: 50px;
}
section.content-thumbnail ul.container-list li.cthumb {
  width: 245px;
  height: 75px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  padding: 150px 0px 0px;
  list-style: none;
  display: inline-block;
}
section.content-thumbnail ul.container-list li.cthumb h4 {
  height: 40px;
  overflow: hidden;
}
section.content-thumbnail ul.container-list li.cthumb a {
  color: #e5e5e5;
}
section.content-thumbnail ul.container-list li.cthumb:hover a {
  color: #013e5d;
}
section.carousel_banner .container {
  position: relative;
}
section.carousel_banner .container .caption {
  background: url(../../img/strip-black.png) repeat top left;
  max-width: 640px;
  position: absolute;
  bottom: 130px;
  bottom: 12vh;
  padding: 35px;
  border: 1px solid #969696;
}
section.carousel_banner .container .caption p {
  color: #fff;
}
section.carousel_banner .container .caption.right {
  right: 0px;
}
section.carousel_banner .container .caption.left {
  left: 0px;
}
section.carousel_banner .container .caption.center {
  right: 0px;
  left: 0px;
  margin: 0 auto;
}
section.content {
  padding: 60px 0px;
}
section.content-grid .spacer {
  padding: 90px 0;
}
section.content-grid .spacer h2,
section.content-grid .spacer p {
  color: #000;
}
section.content-grid .spacer h5 a {
  color: #000;
  border-color: #000;
}
section.content-grid .spacer .none {
  float: none;
}
section.content-grid .spacer .right {
  float: right;
}
section.content-grid .spacer .left {
  float: left;
}
section.content-grid .spacer .center {
  margin: 0 auto;
  float: none;
}
section.image-position {
  background-color: #fff;
}
section.image-position .spacer {
  padding: 95px;
}
section.image-position h2 {
  margin-bottom: 40px !important;
}
section.image-position .top {
  display: block;
  float: none;
  width: 100%;
  margin-bottom: 20px;
}
section.image-position .left {
  float: left;
  margin-right: 20px;
}
section.image-position .right {
  float: right;
  margin-left: 20px;
}
.footer {
  background-color: #4e4e4e;
  padding-top: 45px;
}
.footer .footer-bar {
  background-color: #000;
  padding: 15px 0;
}
.footer .footer-bar span {
  color: #fff;
}
.footer .right {
  float: right;
}
